<div class="row mb-4">
  <div class="col-8 shadow-lg p-0 bg-white">
<div class="card">
  <div class="card-header">
   <h3>List your Property</h3> 
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(Form)" #Form="ngForm" >
      <div class="tab-panel">
        <tabset class="member-tabset" #formTabs>
          <tab heading="Basic Info" ngModelGroup="BasicInfo" #BasicInfo="ngModelGroup">
            <p>I want to</p>
            <div class="btn-group mb-2" btnRadioGroup
            name="SellRent"
            required
            >
              <label for="" class="btn btn-outline-primary me-2" btnRadio="1" role="button" name="SellRent">Sell</label>
              <label for="" class="btn btn-outline-primary" btnRadio="2" role="button" name="SellRent">Rent</label>
            </div>
            <p>BHK</p>
            <div class="btn-group mb-2" btnRadioGroup
            name="BHK"
            [(ngModel)]="propertyView.BHK"
            >
              <label for="" class="btn btn-outline-primary" btnRadio="1" role="button" name="SellRent">1</label>
              <label for="" class="btn btn-outline-primary ms-2" btnRadio="2" role="button" name="SellRent">2</label>
              <label for="" class="btn btn-outline-primary ms-2" btnRadio="3" role="button" name="SellRent">3</label>
              <label for="" class="btn btn-outline-primary ms-2" btnRadio="4" role="button" name="SellRent">4</label>
            </div>


            <div class="form-group col-12 mb-2">
              <label>Property Type</label>
              <br>
              <div class="btn-group mt-2" btnRadioGroup 
              name="propertyType" 
              [(ngModel)]="propertyView.PType"
              >
                <label for="" class="btn btn-outline-primary" btnRadio="House" role="button"
                  name="SellRent">{{propertyTypes[0]}}</label>
                <label for="" class="btn btn-outline-primary ms-2" btnRadio="Apartment" role="button"
                  name="SellRent">{{propertyTypes[1]}}</label>
                <label for="" class="btn btn-outline-primary ms-2" btnRadio="Duplex" role="button"
                  name="SellRent">{{propertyTypes[2]}}</label>
              </div>
            </div>

            <div class="form-group col-12 mb-2">
              <label>Furnishing Type</label>
              <br>
              <div class="btn-group mt-2" btnRadioGroup
              name="FType"
            [(ngModel)]="propertyView.FType"
              >
                <label for="" class="btn btn-outline-primary" btnRadio="Fully" role="button"
                  name="SellRent">{{furnishTypes[0]}}</label>
                <label for="" class="btn btn-outline-primary ms-2" btnRadio="Semi" role="button"
                  name="SellRent">{{furnishTypes[1]}}</label>
                <label for="" class="btn btn-outline-primary ms-2" btnRadio="Unfurnished" role="button"
                  name="SellRent">{{furnishTypes[2]}}</label>
              </div>
            </div>
            <div class="form-group col-12 input-field ">
              <label>in Building/Society/Project</label>
              <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5" 
              [(ngModel)]="propertyView.Name">
              <!-- <span *ngIf="!propName.valid && propName.touched" class="error-block">
                <span *ngIf="propName.errors.required">Please provide name</span>
                  <span *ngIf="propName.errors.minlength">Name must be atleast 5 char long</span>
              </span> -->
            </div>
            <div class="form-group col-12 mb-2">
              <label>City</label>
              <input type="text" class="form-control" ngModel 
              name="City"
            [(ngModel)]="propertyView.City">
            </div>

            <div class="form-group col-12 ">
              <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary btn-block" 
              (click)="selectTab(1)"
              [disabled]="!BasicInfo.valid"
              >Next</button>
            </div>
          </div>
          </tab>

          <tab heading="Pricing and Area">
            <div class="form-group col-12 mb-2">
              <label>Price (in USD)</label>
              <input type="text" class="form-control" name="Price" 
              [(ngModel)]="propertyView.Price">
            </div>

            <div class="form-group col-12 mb-2">
              <label>Security (in USD)</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 mb-2">
              <label>Maintenance (in USD)</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 mb-2">
              <label>Built Area (in Sqr Feet)</label>
              <input type="text" class="form-control"
              name="BuiltArea"
            [(ngModel)]="propertyView.BuiltArea"
              >
            </div>

            <div class="form-group col-12 mb-2">
              <label>Carpet Area(in Sqr Feet)</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 ">
              <div class="d-grid gap-2  ">
              <button type="button" class="btn btn-primary " (click)="selectTab(2)">Next</button>
              <button type="button" class="btn btn-primary " (click)="selectTab(0)">Back</button>
            </div>
            </div>
          </tab>

          <tab heading="Address">

            <div class="form-group col-12 mb-2">
              <label>Floor</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 mb-2">
              <label>Total Floor</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 mb-2">
              <label>Address</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 mb-2">
              <label>Landmark</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group col-12 ">
              <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary " (click)="selectTab(3)">Next</button>

              <button type="button" class="btn btn-primary " (click)="selectTab(1)">Back</button>
            </div>
            </div>
          </tab>

          <tab heading="Other Details" formGroupName="OtherInfo">
            <div class="form-group col-12">
              <p>Ready to Move</p>
              <div class="btn-group" btnRadioGroup formControlName="RTM">
                <!-- <label class="btn btn-outline-primary mr-2"
                      btnRadio=true tabindex="0" role="button"
                      (click)="propertyView.readyToMove=true"
                      name="RTM">Yes
                    </label> -->
                <label class="btn btn-outline-primary me-2" btnRadio=true tabindex="0" role="button" name="RTM">Yes
                </label>

                <!-- <label class="btn btn-outline-primary"
                      btnRadio=false  tabindex="0" role="button"
                      (click)="propertyView.readyToMove=false"
                      name="RTM">No
                    </label> -->
                <label class="btn btn-outline-primary" btnRadio=false tabindex="0" role="button" name="RTM">No
                </label>
              </div>
              <!-- <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div> -->
            </div>


            <div class="form-group col-6 my-2">

              <label for="">Possession/Available From</label>
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
               [bsConfig]="{containerClass:'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY'}"
               >

              <!-- <label *ngIf="propertyView.readyToMove">Establishment Date</label>
                  <label *ngIf="!propertyView.readyToMove">Possession Date</label>
                  <input type="text"
                  class="form-control"
                  formControlName="PossessionOn"
                  #possessionOn
                  (bsValueChange)="propertyView.estPossessionOn=possessionOn.value"
                  bsDatepicker
                  [bsConfig]="{containerClass: 'theme-dark-blue',
                  dateInputFormat: 'MMM DD, YYYY'}"> 
                  <div class="error-block" *ngIf="PossessionOn.invalid
                    && (nextClicked || PossessionOn.touched)">
                    Please select establishment/possession date
                  </div> -->
            </div>

            <div class="form-group col-12 mb-2">
              <p>Gated Community</p>
              <div class="btn-group" btnRadioGroup formControlName="Gated">
                <label class="btn btn-outline-primary me-2" btnRadio=true tabindex="0" role="button"
                  name="Gated">Yes</label>
                <label class="btn btn-outline-primary" btnRadio=false tabindex="0" role="button" name="Gated">No</label>
              </div>
            </div>

            <div class="form-group col-12 mb-2">
              <p>Main Entrance</p>
              <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                <label class="btn btn-outline-primary me-2" btnRadio=East tabindex="0" role="button"
                  name="Entrance">East</label>
                <label class="btn btn-outline-primary me-2" btnRadio=West tabindex="0" role="button"
                  name="Entrance">West</label>
                <label class="btn btn-outline-primary me-2" btnRadio=South tabindex="0" role="button"
                  name="Entrance">South</label>
                <label class="btn btn-outline-primary " btnRadio=North tabindex="0" role="button"
                  name="Entrance">North</label>
              </div>
            </div>

            <div class="form-group col-12 mb-2">
              <label>Description</label>
              <textarea type="text" class="form-control" formControlName="Description" rows="6"></textarea>
            </div>

            <div class="form-group col-12">
              <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary " (click)="selectTab(4)">Next</button>

              <button type="button" class="btn btn-primary " (click)="selectTab(2)">Back</button>
            </div>
            </div>
          </tab>

          <tab heading="Photos">
            <div class="form-group col-12 mb-2">
              <div class="photo-control">
                <button class="mt-5" type="button">Upload</button> <br>
                This is under construction
              </div>
            </div>
            <div class="form-group col-12 ">
              <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary " (click)="selectTab(3)">Back</button>
              <button type="submit" class="btn btn-primary  ">Submit</button>
              <button type="reset" class="btn btn-primary ">Cancel</button>
            </div>
            </div>
          </tab>
        </tabset>
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-4">
  <div class="card-header">
  <h3>your preview</h3>
</div>
  <div class="shadow-lg p-3 bg-white">
    <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
  </div>

</div>
</div>